.partners
	margin-top: 30px

	&__item
		display: flex
		padding: 20px
		border: 1px solid #e1e1e1

		&:not(:last-child)
			margin-bottom: 30px

		&-img
			width: 100px
			margin-right: 30px
			flex: none

		// &-text
		// 	font-size: rem(18)

@media (max-width: 667px)

	.partners

		&__item
			flex-direction: column