@font-face {
  font-family: "als_rublregular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/rouble-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rouble-webfont.woff") format("woff"), url("../fonts/rouble-webfont.ttf") format("truetype"), url("../fonts/rouble-webfont.svg#als_rublregular") format("svg"); }

.text td p{
	margin: 0 !important;
}